<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<% if (requests.length) {
  %><ul>
<table>
  <tr>
    <th>Machinename</th>
    <th>Status</th> 
  </tr>
    <% requests.forEach((r) => {
      %>
	  <tr>
	    <td><a href="/resource/<%=r.name%>"> <%=r.name%> </a></td>
	    <td><%= r.status %></td> 
	  </tr>
      <%
    }) %>
</table>
  </ul><%
} %>
</body>
