<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
        <form action="/" method="post">
          <input name="username" type="text" placeholder="Enter username" required>
          <input name="password" type="password" placeholder="Enter password" required>
          <input type="submit" value="Submit">
        </form>
        <% if(vraData !== null){ %>
          <p><%= vraData %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
  </body>
</html>
